*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
header{
    background-color: black;
    color: #ffffff;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
#logo{
    width: 60px;
    position: absolute;
    margin-left: 5%;
}
#menu{
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-top: 0px;
}
li {
    float: left;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}
li:hover{
    background-color:rgb(6, 78, 231);
}
div#cap1{
    background: url("download (2).jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    height: 100%;
}
div#cap1 h1{
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.6);

}
div#cap1 h2{
    background-color:rgba(0, 0, 0, 0.6)
}
div#cap1 button{
    padding: 25px, 10px, 25px, 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: black solid;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}
section#container{
    margin: 0 auto!important;
    max-width: 800px;
    float: left;
    padding: 20px;

}
.coluna{
    float: left;
    position: relative;
    padding: 0 5%;
}
.dois{
    width: 40%;
}
.quatro{
    width: 10%;
    padding: 7%;
}
section{
    margin: 120px;
    padding: 20px;
    text-align: justify;
    font-size: 14px;
    background-color: #ffffff;
    
}
section h1{
    font-size: 48px;
}
section h2{
    font-size: 32px;
}
section#desafio-3 div:hover{
    background-color: silver;
    padding: 20 10 20 10;
}
section h5 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
section p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
footer{
    background-color:rgb(6, 78, 231);
    width: 100%;
    float: left;
}